{
  "semi": true,
  "singleQuote": true,
  "singleArgumentParenthesis": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "arrowFunctionParentheses": "always",
  "overrides": [
    {
      "files": ["*.js"],
      "options": {
        "parentheses": "always"
      }
    }
  ]
}