{
  "info": {
    "title": "Chemotion Repository",
    "version": "1.1"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "host": "www.chemotion-repository.net",
  "tags": [
    {
      "name": "json-ld",
      "description": "Publication in JSON-LD"
    },
    {
      "name": "json-ld list",
      "description": "Publication JSON-LD download list"
    },
    {
      "name": "reactions",
      "description": "Published reaction list"
    },
    {
      "name": "molecules",
      "description": "Published molecule list"
    },
    {
      "name": "reaction",
      "description": "Published reaction"
    },
    {
      "name": "molecule",
      "description": "Published molecule"
    }
  ],
  "paths": {
    "/api/v1/public/reactions.json?page={page}&per_paeg={per_page}&adv_flag={adv_flag}&adv_type={adv_type}&adv_val[]={adv_val}": {
      "get": {
        "description": "Return serialized reactions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "page",
            "description": "page",
            "defaultValue": 1,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "per_page",
            "description": "per_page",
            "defaultValue": 10,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "adv_flag",
            "description": "advanced search?",
            "defaultValue": false,
            "default": false,
            "type": "boolean",
            "required": true
          },
          {
            "in": "path",
            "name": "adv_type",
            "description": "advanced search type",
            "defaultValue": "Authors",
            "value": "Authors",
            "enum": ["Authors", "Embargo", "Ontologies"],
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "adv_val",
            "description": "advanced search value",
            "type": "string",
            "required": false
          },{
            "in": "path",
            "name": "scheme_only",
            "description": "scheme_only search?",
            "defaultValue": false,
            "default": false,
            "type": "boolean",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return serialized reaction list"
          }
        },
        "tags": [
          "reactions"
        ],
        "operationId": "getApiV1ReactionList"
      }
    },
    "/api/v1/public/molecules.json?page={page}&per_paeg={per_page}&adv_flag={adv_flag}&adv_type={adv_type}&adv_val[]={adv_val}": {
      "get": {
        "description": "Return serialized molecule list",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "page",
            "description": "page",
            "defaultValue": 1,
            "default": 1,
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "per_page",
            "description": "per_page",
                  "defaultValue": 10,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "adv_flag",
            "description": "advanced search?",
            "defaultValue": false,
            "default": false,
            "type": "boolean",
            "required": true
          },
          {
            "in": "path",
            "name": "adv_type",
            "description": "advanced search type",
            "defaultValue": "Authors",
            "value": "Authors",
            "enum": ["Authors", "Embargo", "Ontologies"],
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "adv_val",
            "description": "advanced search value",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Return serialized molecule list"
          }
        },
        "tags": [
          "molecules"
        ],
        "operationId": "getApiV1MoleculeList"
      }
    },
    "/api/v1/public/reaction.json?id={id}": {
      "get": {
        "description": "Return published serialized reaction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "reaction id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return serialized reaction by id"
          }
        },
        "tags": [
          "reaction"
        ],
        "operationId": "getApiV1ReactionId"
      }
    },
    "/api/v1/public/molecule.json?id={id}": {
      "get": {
        "description": "Return serialized molecule with list of published dataset",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "molecule id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Return serialized molecule by id"
          }
        },
        "tags": [
          "molecule"
        ],
        "operationId": "getApiV1MoleculeId"
      }
    },
    "/api/v1/public/metadata/publications?type={type}&offset={offset}&limit={limit}&date_from={date_from}&date_to={date_to}": {
      "get": {
        "description": "Return JSON-LD download list of publication",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "description": "publication type",
            "defaultValue": "Sample",
            "value": "Sample",
            "enum": ["Container", "Reaction", "Sample"],
            "type": "string",
            "required": true
          },
          {
            "in": "path",
            "name": "offset",
            "description": "search list offset",
            "defaultValue": 0,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "limit",
            "description": "search list limit (max. 1000 records)",
            "type": "integer",
            "defaultValue": 100,
            "default": 100,
            "format": "int32",
            "required": true
          },
          {
            "in": "path",
            "name": "date_from",
            "description": "Published date from, format YYYY-MM-DD",
            "type": "string",
	    "defaultValue": "2020-01-01",
            "required": false
          },
          {
            "in": "path",
            "name": "date_to",
            "description": "Published date to, format YYYY-MM-DD",
            "type": "string",
	    "defaultValue": "2024-12-31",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Return JSON-LD download list of publication"
          }
        },
        "tags": [
          "json-ld list"
        ],
        "operationId": "getApiV1PublicationListInJsonLD"
      }
    },
    "/api/v1/public/metadata/download_json?type={type}&id={id}&inchikey={inchikey}": {
      "get": {
        "description": "Return publication in JSON-LD",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "description": "publication type. Required if 'inchikey' is not provided.",
            "value": "Sample",
            "enum": ["Container", "Reaction", "Sample"],
            "type": "string",
            "required": false
          },
          {
            "in": "path",
            "name": "id",
            "description": "publication id. Required if 'inchikey' is not provided.",
            "defaultValue": 0,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "in": "path",
            "name": "inchikey",
            "description": "InChIKey. Required if 'type' and 'id' are not provided.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Return serialized publication in JSON-LD"
          }
        },
        "tags": [
          "json-ld"
        ],
        "operationId": "getApiV1PublicationInJsonLD"
      }
    }
  }
}
