$color-chem-blue: #337ab7;
$color-chem-logo-blue: #3a9fd3;
$color-required: #d9534f;

.field_required {
  color: $color-required;
}

// --- color ---
.c-text--grey {
  color: grey;
}

// --- bootstrap color ---
.c-bs-primary {
  color: #337ab7;
}

.c-bs-success {
  color: #5cb85c
}

.c-bs-info {
  color: #5bc0de
}

.c-bs-warning {
  color: #f0ad4e
}

.c-bs-danger {
  color: #d9534f;
}

.c-bs-gray {
  color: #eee;
}

.drop-up .Select-menu-outer {
  top: auto;
  bottom: 100%;
  margin-top: 0px;
  margin-bottom: -1px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: none;
}

.drop-up.is-open > .Select-control {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.sample-molecule-identifier {
  margin: 15px 0;
}

.Select {
  line-height: 1;
}

.span-checkbox {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgba(255,255,255,.05);
  border: 1px solid rgba(155,155,155,.57);
  height: 17px;
  margin: 0 0px 0px 1px;
  outline: 0;
  width: 17px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.span-checkbox:hover {
  border: 2px solid #b2b2b2;
}

.all-checkbox {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  user-select: none;
  cursor: default;

  .checkbox-dropdown {
    line-height: 1em;
    border: 1px solid rgba(155, 155, 155, 0.57);
    width: 48px;
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px;
    padding-left: 5px;
    background-color: #f5f5f5;
  }

  .checkbox-options {
    z-index: 2;
    width: 166px;
    border: 1px solid #ccc;
    background: #fff;
    position: absolute;

    div {
      padding: 6px 44px 6px 30px;
      cursor: pointer;
    }

    div:hover {
      background-color: #eee;
      border-color: #eee;
      border-style: dotted;
      border-width: 1px 0;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.all-checkbox:hover {
  border: 1px solid #c6c6c6;
  color: #333;
}

.advanced-search {
  margin-top: 10px;

  .adv-search-row {
    display: flex;
    overflow: visible !important;
  }

  button {
    margin-left: 5px;
  }

  .field-select {
    margin: 5px;
    flex: 0 0 205px;
  }

  .link-select {
    margin: 5px;
    flex: 0 0 117px
  }

  .match-select {
    margin: 5px;
    flex: 0 0 150px
  }

  .value-select {
    margin: 5px;
    height: 60px;
  }

  .footer {
    margin: 10px;
    z-index: 1;
  }
}

.loading-modal {
  .modal-content {
    height: 100px;
    text-align: center;
    margin: auto;
    padding-top: 25px;
    width: 100px;
  }
}

.spacer-10 {
  margin: 0 10px;
}

.numeric-input-unit {
  .input-group-btn button {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.left_tooltip {
  .tooltip-inner {
    text-align: left;
  }
}

.reaction-material-link {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
  vertical-align: middle;
}

.quill-resize {
  .ql-container {
    .ql-editor {
      resize: vertical;
      overflow-y: scroll;
      height: 85px;
    }
  }  
}

.publish_tooltip {
  .tooltip-inner {
    text-align: left;
    white-space: pre-wrap;
  }
}

.review_element_label {
  color: #333;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
  padding: 4px;

  i {
    font-size: 1.2em !important;
  }
}

.list_focus_off {
  cursor: pointer;
  background-color: #F5F5F5;
}
.list_focus_on {
  cursor: pointer;
  background-color: #d4edda !important;
}

.feature {
  display: flex;
  .feature-block {
    display: block;
    position: relative;
    padding: 16px 24px 32px 24px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    height: 100%;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      right: -16px;
      background: unset;
      height: 26px;
      width: 100%;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.25s ease-out;
      bottom: 50%;
    }
    &:hover:before {
      transform: scale(8);
      background: $color-chem-blue;
    }
    div {
      padding: 8px;
      display: inline-block;
    }
    h3 {
      text-align: left;
    }
    i {
      text-align: center;
      display: inline-block;
      color: $color-chem-blue;
      position: relative;
    }
  }

  .feature-block:hover {
    p {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
    h3 {
      transition: all 0.3s ease-out;
      color: #ffffff;
    }
    i {
      color: #ffffff;
    }
  }
}

.research-plan-no-auth {
  text-align: center;
  border-color: #bfbfbf;
  border-style: dashed;
  border-width: thin;
}

.home-title {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  & > span {
    position: relative;
    padding: 0 5px;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      background-color: #777;
      right: 100%;
    }
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      background-color: #777;
      left: 100%;
    }
  }
}

.display-false {
  display: none !important;
}

.display-true {
  .initial {
    display: initial;
  }
  .inherit {
    display: inherit;
  }
}
