.ext-icon {
  width: auto;
  height: 4vh;
  max-height: 4vh;
  padding-right: 8px;
}

.ext-icon-list {
  margin-right: 10px;
  float: right;
  img {
    height: 2.2vh !important;
    max-height: 2.2vh !important;
  }
}
